.DS_Store
__pycache__/
*.py[cod]
.venv/
*.egg-info/
db.sqlite3
.env

frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/coverage/
backend/media/